main {
    flex: 1;
}

main ul { /* onde estao todos os "quadrados" dos usuarios */
    display: grid; /* faz com que os quadrados de cada usuario fiquem um de 2 a 2 */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
}

@media (max-width: 650px) { /* dimensionamento responsivo para celular */
    main ul {
        grid-template-columns: 1fr; /* os quadrados com usuarios deixam de ficar um do lado do outro */
    }
}